@import "../../../palette.scss";

.banner {
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;
  color: $timberwolf;
  background: $steel-blue;

  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  & h1 {
    font-size: clamp(1em, calc(5vw + 1em), 6em);
  }

  & p {
    font-size: clamp(0.5em, calc(5vw + 0.5em), 1.5em);
    margin: 0 auto;
    width: 75vw;
  }

  & .links {
    font-size: 2em;
    width: clamp(5em, calc(5vw + 5em), 10em);
    margin: 0.5em auto;
    border-top: solid $timberwolf 1px;
    border-bottom: solid $timberwolf 1px;
    text-align: center;

    & > a {
      padding: clamp(0.25em, calc(1vw + 0.25em), 0.5em);
      opacity: 1;
      transition: 250ms ease-in-out;
      text-decoration: none;
      color: $timberwolf;

      &:hover,
      &:focus {
        color: $steel-blue;
      }
    }
  }
}
