<section class="py-5 text-center container">
  <h1>Dmitri McGuckin</h1>
  <p>Hey there, I'm an aspiring software engineer.<br>Here's a little bit of what I do:</p>

  <!-- <a href="/contact" class="btn btn-primary my-2">Hire me!</a>
  <a href="/projects" class="btn btn-secondary my-2">Checkout my Projects</a> -->
</section>

<section id="banner" class="album py5 bg-light">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div *ngFor="let p of projects" class="col">
      <div class="card shadow-sm">
        <img *ngFor="let i of p.images" src="http://localhost:4000/image/{{i}}" alt={{p.title}}>

        <div class="card-body">
          <h1 class="card-text">{{p.title}}</h1>
          <p class="card-text">{{p.subtitle}}</p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>

          <!-- <small class="text-muted">{{p.updated | date}}</small> -->
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="text-muted">
  <div class="container">
    <p class="float-end mb-1">
      <a href="/">Back to top</a>
    </p>

    <p class="mb-1"><a href="https://github.com/dmitri-mcguckin" target="_blank">Github</a></p>
    <p class="mb-1"><a href="https://www.linkedin.com/in/dmitrimcguckin/" target="_blank">LinkedIn</a></p>
    <p class="mb-1"><a href="https://twitter.com/DmitriMcguckin" target="_blank">Twitter</a></p>
    <p>©2021 Dmitri McGuckin</p>
  </div>
</footer>
