@import "../../../palette.scss";

section {
  background-color: $timberwolf;
  min-height: 50vh;
  padding: clamp(1rem, calc(5vw + 1rem), 6rem) 0;
}

.content {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-basis: 50%;
    padding: 1em;
    min-width: 15em;
    margin: 0 auto;
  }

  & > .headshot > img {
    margin: 0 auto;
    height: auto;
    border-radius: 1em;
    width: clamp(10em, calc(10vw + 10em), 50em);
  }
}

.socials {
  font-size: 2em;
  width: clamp(5em, calc(5vw + 5em), 10em);
  margin: 0.5em auto;
  border-top: solid $rich-black 1px;
  border-bottom: solid $rich-black 1px;
  text-align: center;

  & > a {
    padding: clamp(0.25em, calc(1vw + 0.25em), 1em);
    opacity: 1;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: $rich-black;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }

  .fa-twitter:hover,
  .fa-twitter:focus {
    color: #55ACEE;
  }

  .fa-github:hover,
  .fa-github:focus {
    color: #171515;
  }

  .fa-linkedin:hover,
  .fa-linkedin:focus {
    color: #0a66c2;
  }
}
