<section>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="content">
    <div class="headshot">
      <img src="/assets/headshot.png" alt="Head Shot">
      <div class="socials">
        <a *ngFor="let social of socials" target="_blank" href={{social.url}} class="fa fa-{{social.type}}"></a>
      </div>
    </div>

    <div class="text-body">
      <h1>Hi there,</h1>
      <p>My name is Dmitri, I enjoy programming and long walks on the beach...</p>
    </div>
  </div>
</section>
