<title>CANOpen Monitor</title>

<section>
  <app-project-banner
    title="CANOpen Monitor"
    subtitle="A simple Terminal-User-Interface (TUI) application for capturing and displaying CAN-Bus frames"
    projectUrl="https://github.com/oresat/CANopen-monitor"
    docsUrl="https://canopen-monitor.readthedocs.io"
    image="/assets/project-imgs/canopen-monitor.png"></app-project-banner>

  <p>Like many things in life, what I assumed to be a quick and temporary hacked-togeather solution turned into a full fledge product.</p>
</section>
